<!---------- TEXT COMPONENT: PAGE TITLE BOX ---------->
    <main class="page-container" >
        <div class="page-rectangle">
            <h1 id="title">Blog</h1>
            <i class="fa fa-angle-double-down" id="arrow-down"></i>
        </div>

        <!---------- GRAPHICAL COMPONENT: BLOG IMAGE & TEXT ---------->
        <section class="page-content" >
            <article class="content-box">
                <%= image_tag "/images/Blog1.png", class: "blog-image", alt: "A San Francisco Tram driving down a busy street", width: 300, height: 200 %>
                <h2 class="content-titles">Living in San Francisco as an Aussie</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <h3>Posted | <time datetime="2021-08-19">Aug 19th, 21</time></h3>
                        <div class="blog-text">
                            <input id="rm1" type="checkbox">
                            <label for="rm1"></label>
                            <div class="expanded-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium maxime odit cupiditate alias asperiores velit autem natus? Odio ullam minima quasi minus saepe ab omnis nobis odit corporis aliquid, sequi voluptatibus error obcaecati repellat reiciendis. Dolorum iure velit, facilis accusantium, corporis tempore iste laborum consequuntur eaque natus explicabo, officia itaque amet ad provident voluptates! A animi id nesciunt, sequi aliquam iste expedita deleniti aperiam reprehenderit, officia adipisci libero. Vitae illum voluptatem aliquid accusantium asperiores a saepe fugiat. Atque quasi ratione rerum necessitatibus adipisci. Nemo, animi. Distinctio adipisci nam placeat omnis sit esse obcaecati, veritatis possimus ipsam iure quos quisquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: BLOG IMAGE & TEXT ---------->
            <article class="content-box">
            <%= image_tag "/images/Blog2.png", class: "blog-image", alt: "A computer screen showing CSS code", width: 300, height: 200 %>
                <h2 class="content-titles">20 CSS shortcuts that saved my life</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <h3>Posted | <time datetime="2021-08-17">Aug 17th, 21</time></h3>
                        <div class="blog-text">
                            <input id="rm2" type="checkbox">
                            <label for="rm2"></label>
                            <div class="expanded-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium maxime odit cupiditate alias asperiores velit autem natus? Odio ullam minima quasi minus saepe ab omnis nobis odit corporis aliquid, sequi voluptatibus error obcaecati repellat reiciendis. Dolorum iure velit, facilis accusantium, corporis tempore iste laborum consequuntur eaque natus explicabo, officia itaque amet ad provident voluptates! A animi id nesciunt, sequi aliquam iste expedita deleniti aperiam reprehenderit, officia adipisci libero. Vitae illum voluptatem aliquid accusantium asperiores a saepe fugiat. Atque quasi ratione rerum necessitatibus adipisci. Nemo, animi. Distinctio adipisci nam placeat omnis sit esse obcaecati, veritatis possimus ipsam iure quos quisquam!</p>
                            </div>
                        </div>
                         
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: BLOG IMAGE & TEXT ---------->
            <article class="content-box">
                <%= image_tag "/images/Blog3.png", class: "blog-image", alt: "A white house with blue doors, surrounded by pink Bougainvillea in Greece", width: 300, height: 200 %>
                <h2 class="content-titles">Recreating Mamma Mia in Paros, Greece</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <h3>Posted | <time datetime="2021-07-20">Jul 20th, 21</time></h3>
                        <div class="blog-text">
                            <input id="rm3" type="checkbox">
                            <label for="rm3"></label>
                            <div class="expanded-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium maxime odit cupiditate alias asperiores velit autem natus? Odio ullam minima quasi minus saepe ab omnis nobis odit corporis aliquid, sequi voluptatibus error obcaecati repellat reiciendis. Dolorum iure velit, facilis accusantium, corporis tempore iste laborum consequuntur eaque natus explicabo, officia itaque amet ad provident voluptates! A animi id nesciunt, sequi aliquam iste expedita deleniti aperiam reprehenderit, officia adipisci libero. Vitae illum voluptatem aliquid accusantium asperiores a saepe fugiat. Atque quasi ratione rerum necessitatibus adipisci. Nemo, animi. Distinctio adipisci nam placeat omnis sit esse obcaecati, veritatis possimus ipsam iure quos quisquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: BLOG IMAGE & TEXT ---------->
            <article class="content-box">
                <%= image_tag "/images/Blog4.png", class: "blog-image", alt: "An Xbox controller", width: 300, height: 200 %>
                <img src="./Images/Blog4.png" class="blog-image" width=300 height=200 alt="An Xbox controller">
                <h2 class="content-titles">What its really like to be a female gamer</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <h3>Posted | <time datetime="2021-08-19">Jul 10th, 21</time></h3>
                        <div class="blog-text">
                            <input id="rm4" type="checkbox">
                            <label for="rm4"></label>
                            <div class="expanded-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium maxime odit cupiditate alias asperiores velit autem natus? Odio ullam minima quasi minus saepe ab omnis nobis odit corporis aliquid, sequi voluptatibus error obcaecati repellat reiciendis. Dolorum iure velit, facilis accusantium, corporis tempore iste laborum consequuntur eaque natus explicabo, officia itaque amet ad provident voluptates! A animi id nesciunt, sequi aliquam iste expedita deleniti aperiam reprehenderit, officia adipisci libero. Vitae illum voluptatem aliquid accusantium asperiores a saepe fugiat. Atque quasi ratione rerum necessitatibus adipisci. Nemo, animi. Distinctio adipisci nam placeat omnis sit esse obcaecati, veritatis possimus ipsam iure quos quisquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: BLOG IMAGE & TEXT ---------->
            <article class="content-box">
                <%= image_tag "/images/Blog5.png", class: "blog-image", alt: "The Canadian flag waving in the breeze", width: 300, height: 200 %>
                <h2 class="content-titles">Canadian Summer vs Winter: which is better?</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <h3>Posted | <time datetime="2021-08-19">Feb 13th, 21</time></h3>
                        <div class="blog-text">
                            <input id="rm5" type="checkbox">
                            <label for="rm5"></label>
                            <div class="expanded-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium maxime odit cupiditate alias asperiores velit autem natus? Odio ullam minima quasi minus saepe ab omnis nobis odit corporis aliquid, sequi voluptatibus error obcaecati repellat reiciendis. Dolorum iure velit, facilis accusantium, corporis tempore iste laborum consequuntur eaque natus explicabo, officia itaque amet ad provident voluptates! A animi id nesciunt, sequi aliquam iste expedita deleniti aperiam reprehenderit, officia adipisci libero. Vitae illum voluptatem aliquid accusantium asperiores a saepe fugiat. Atque quasi ratione rerum necessitatibus adipisci. Nemo, animi. Distinctio adipisci nam placeat omnis sit esse obcaecati, veritatis possimus ipsam iure quos quisquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: BLOG IMAGE & TEXT ---------->
            <article class="content-box">
                <%= image_tag "/images/Blog6.png", class: "blog-image", alt: "The sun setting over grassy fields and circular rock formations", width: 300, height: 200 %>
                <h2 class="content-titles">Nature is my Spirituality: and here's why</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <h3>Posted | <time datetime="2021-08-19">Jan 12th, 21</time></h3>
                        <div class="blog-text">
                            <input id="rm6" type="checkbox">
                            <label for="rm6"></label>
                            <div class="expanded-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium maxime odit cupiditate alias asperiores velit autem natus? Odio ullam minima quasi minus saepe ab omnis nobis odit corporis aliquid, sequi voluptatibus error obcaecati repellat reiciendis. Dolorum iure velit, facilis accusantium, corporis tempore iste laborum consequuntur eaque natus explicabo, officia itaque amet ad provident voluptates! A animi id nesciunt, sequi aliquam iste expedita deleniti aperiam reprehenderit, officia adipisci libero. Vitae illum voluptatem aliquid accusantium asperiores a saepe fugiat. Atque quasi ratione rerum necessitatibus adipisci. Nemo, animi. Distinctio adipisci nam placeat omnis sit esse obcaecati, veritatis possimus ipsam iure quos quisquam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>